* {
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

#root {
    background-color: #131313;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

.home-section {
   text-align: center;
}

.particles {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

/* Nav Section */
.navbar {
    border-bottom: solid #D1920D 1px;
    transition: all 0.3 sec ease-out 0s;    
}

.nav-link {
    color: #fff;
    padding: 0px 8px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 12px;
}

.footer a {
    padding-left: 24px;
    cursor: pointer;
}