* {
    padding: 0;
    margin: 0;
    background-color: #131313;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.home-section {
   text-align: center;
}


.navbar {
    border-bottom: solid whitesmoke 2px;
    /* position: fixed; */
    transition: all 0.3 sec ease-out 0s;
    
}

.nav-item {
    border-left: solid whitesmoke 2px;
    padding: 0px 8px;
}

.footer {
    background-color: #131313;
    bottom: 0;
    padding: 10px 0px 8px 0px;
}