* {
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

#root {
    background-color: #131313;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

.particles {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

/* Nav Section */
.navbar-brand {
    flex: 1;
}

.logo {
    max-width: 175px;
    max-height: 175px;
}
.navbar {
    /* border-bottom: solid #D1920D 1px; */
    transition: all 0.3s ease-out 0s;    
}

.nav-link {
    color: #fff;
    padding: 0px 8px;
    transition: all 243ms ease-out 0s;
}

.navLinks:hover {
    color: #fff;
    transform: translateY(-3px);
    border-bottom: 2px #D1920D solid;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 12px;
}

.footer a {
    padding-left: 24px;
    cursor: pointer;
}