.section-header {
    display: grid;
    grid-template-columns: 2fr 2fr;
    text-align: center;
    align-items: center;
    justify-items: center;
    padding-top: 64px;
}

.home-about-me {
    font-size: 1.1rem;
}

/* for about me page */
.small-about-me {
    font-size: 1.1rem;
    text-align: center;
}
.profile-picture {
    max-width: 300px;
    max-height: 300px;
    border-radius: 48px;
    padding-bottom: 12px;
    background: transparent;
}

.name {
    color: #D1920D;
    border-bottom: 1px solid #D1920D;
}