section {
    display: grid;
    grid-template-columns: 2fr 2fr;
    text-align: center;
    align-items: center;
    justify-items: center;
    padding-top: 64px;
}

.profile-picture {
    max-width: 300px;
    max-height: 300px;
    border-radius: 48px;
}