.logo {
    max-width: 175px;
    max-height: 175px;
}

.navLinks {
    transition: all 243ms ease;
}

.navLinks:hover {
    color: #fff;
    transform: translateY(-3px);
    border-bottom: 3px #D1920D solid;
}

.navbar-brand {
    flex: 1;
}

.navColor1 {
    background-color: black;
    opacity: 90%;
    transition: transform 450ms ease-in-out;
}

.navColor2 {
    background-color: transparent;

}