* {
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

#root {
    background-color: #131313;
    min-width: 100vw;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    /* display: flex;
    flex-direction: column; */
}

.particles {
    position: fixed !important;
    width: 100vw;
    height: 100vh;
    z-index: 0 !important;
}

.main {
    flex: 1;
    height: 100%;
    z-index: 0 !important;
}